In [61]:
# 데이터 불러오기
import pandas as pd
X_train = pd.read_csv(r'C:\BigData\practice_data\연습문제\College_x_train.csv', encoding = 'cp949')
y_train = pd.read_csv(r'C:\BigData\practice_data\연습문제\College_y_train.csv', encoding = 'cp949')
X_test = pd.read_csv(r'C:\BigData\practice_data\연습문제\College_X_test.csv', encoding = 'cp949')

In [62]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [63]:
# 데이터 확인
X_train.head()

,ID,Name,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,681,University of Southern Mississippi,2850,2044,1046,20,50,9260,1387,4652,2470,500,500,78,99,18.7,23,5917,45
1,746,Western State College of Colorado,2702,1623,604,7,24,2315,146,5918,3755,500,2050,76,79,19.4,4,4599,52
2,341,Mankato State University,3073,2672,1547,9,29,9649,1792,4300,2643,450,1660,57,68,19.0,11,5801,68
3,413,North Carolina State University at Raleigh,10634,7064,3176,39,78,16505,5481,8400,6540,600,1300,92,98,17.5,21,9670,62
4,707,Valley City State University,368,344,212,5,27,863,189,4286,2570,600,2000,39,41,14.9,25,4958,40

In [64]:
y_train.head()

    ID Private
0  681      No
1  746      No
2  341      No
3  413      No
4  707      No

In [65]:
# id 빼두기
# 필요없는 칼럼 제거

result_id = X_test['ID']

X_train.drop(columns=['ID', 'Name'], inplace=True)
X_test.drop(columns=['ID', 'Name'], inplace=True)
y_train.drop(columns = ['ID'], inplace=True)

In [66]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)

(621, 17)
(156, 17)
(621, 1)

In [67]:
# 결측치 처리
col = X_train.columns
for i in col:
    print({i}, X_train[i].isna().sum())

{'Apps'} 0
{'Accept'} 0
{'Enroll'} 0
{'Top10perc'} 0
{'Top25perc'} 0
{'F.Undergrad'} 0
{'P.Undergrad'} 0
{'Outstate'} 0
{'Room.Board'} 0
{'Books'} 0
{'Personal'} 0
{'PhD'} 0
{'Terminal'} 0
{'S.F.Ratio'} 0
{'perc.alumni'} 0
{'Expend'} 0
{'Grad.Rate'} 0

In [68]:
col = X_test.columns
for i in col:
    print({i}, X_test[i].isna().sum())

{'Apps'} 0
{'Accept'} 0
{'Enroll'} 0
{'Top10perc'} 0
{'Top25perc'} 0
{'F.Undergrad'} 0
{'P.Undergrad'} 0
{'Outstate'} 0
{'Room.Board'} 0
{'Books'} 0
{'Personal'} 0
{'PhD'} 0
{'Terminal'} 0
{'S.F.Ratio'} 0
{'perc.alumni'} 0
{'Expend'} 0
{'Grad.Rate'} 0

In [69]:
# 이상치 처리 (카테고리: 마스킹, 분리 등)

In [70]:
# 이상치 처리 (수치: 비율화 등)
percent_col = ['Top10perc','Top25perc','PhD','Terminal','S.F.Ratio','perc.alumni', 'Grad.Rate']
X_train[percent_col] = X_train[percent_col]/100
X_test[percent_col] = X_test[percent_col]/100

In [71]:
# 상관관계 분석하여 칼럼 축소
X_train.corr()

,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
Apps,1.000000,0.944467,0.849168,0.349779,0.361195,0.821066,0.436428,0.053210,0.165495,0.130910,0.160231,0.386766,0.366336,0.097302,-0.096365,0.252323,0.159819
Accept,0.944467,1.000000,0.916140,0.197776,0.252846,0.883243,0.497542,-0.028377,0.091953,0.107125,0.176265,0.349032,0.332929,0.183942,-0.172558,0.117418,0.077867
Enroll,0.849168,0.916140,1.000000,0.187864,0.231857,0.965347,0.558695,-0.150202,-0.038736,0.089683,0.253702,0.328134,0.308258,0.243228,-0.200267,0.057788,-0.002409
Top10perc,0.349779,0.197776,0.187864,1.000000,0.888509,0.151740,-0.119721,0.562420,0.392123,0.176155,-0.087108,0.527884,0.490864,-0.398707,0.450589,0.665505,0.488408
Top25perc,0.361195,0.252846,0.231857,0.888509,1.000000,0.203923,-0.074995,0.497475,0.350296,0.165195,-0.086286,0.523015,0.508145,-0.324390,0.419536,0.535315,0.465836
F.Undergrad,0.821066,0.883243,0.965347,0.151740,0.203923,1.000000,0.623587,-0.202082,-0.065608,0.085500,0.291877,0.318083,0.300998,0.275946,-0.246334,0.018461,-0.053593
P.Undergrad,0.436428,0.497542,0.558695,-0.119721,-0.074995,0.623587,1.000000,-0.278067,-0.048740,0.033150,0.302934,0.155299,0.141468,0.283593,-0.353783,-0.116140,-0.277619
Outstate,0.053210,-0.028377,-0.150202,0.562420,0.497475,-0.202082,-0.278067,1.000000,0.661614,0.089946,-0.306878,0.396156,0.418002,-0.540116,0.577255,0.670268,0.561025
Room.Board,0.165495,0.091953,-0.038736,0.392123,0.350296,-0.065608,-0.048740,0.661614,1.000000,0.126586,-0.198799,0.342390,0.383142,-0.356113,0.287742,0.488404,0.421699
Books,0.130910,0.107125,0.089683,0.176155,0.165195,0.085500,0.033150,0.089946,0.126586,1.000000,0.202404,0.071805,0.113592,-0.047839,-0.007854,0.130529,0.031914
Personal,0.160231,0.176265,0.253702,-0.087108,-0.086286,0.291877,0.302934,-0.306878,-0.198799,0.202404,1.000000,-0.035249,-0.048813,0.149370,-0.286979,-0.096932,-0.273477
PhD,0.386766,0.349032,0.328134,0.527884,0.523015,0.318083,0.155299,0.396156,0.342390,0.071805,-0.035249,1.000000,0.851666,-0.151175,0.250454,0.450395,0.300819
Terminal,0.366336,0.332929,0.308258,0.490864,0.508145,0.300998,0.141468,0.418002,0.383142,0.113592,-0.048813,0.851666,1.000000,-0.169498,0.263941,0.441205,0.285566
S.F.Ratio,0.097302,0.183942,0.243228,-0.398707,-0.324390,0.275946,0.283593,-0.540116,-0.356113,-0.047839,0.149370,-0.151175,-0.169498,1.000000,-0.411045,-0.573683,-0.307222
perc.alumni,-0.096365,-0.172558,-0.200267,0.450589,0.419536,-0.246334,-0.353783,0.577255,0.287742,-0.007854,-0.286979,0.250454,0.263941,-0.411045,1.000000,0.435684,0.490204
Expend,0.252323,0.117418,0.057788,0.665505,0.535315,0.018461,-0.116140,0.670268,0.488404,0.130529,-0.096932,0.450395,0.441205,-0.573683,0.435684,1.000000,0.395992
Grad.Rate,0.159819,0.077867,-0.002409,0.488408,0.465836,-0.053593,-0.277619,0.561025,0.421699,0.031914,-0.273477,0.300819,0.285566,-0.307222,0.490204,0.395992,1.000000

In [72]:
# Accept - Apps
# Enroll - Accept
# F.Undergrad - Enroll
# Top25perc - Top10perc
# Terminal - phD

# => Accept, Enroll, top10perc, Terminal

drop_col = ['Accept','Enroll','Top10perc','Terminal']

X_train.drop(columns=drop_col, inplace=True)
X_test.drop(columns=drop_col, inplace=True)

print(X_train.shape)
print(X_test.shape)

(621, 13)
(156, 13)

In [73]:
# 카테고리 데이터 인코딩
X_test.head() # 카테고리 데이터 없음

,Apps,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,9251,0.45,13699,1213,7452,3352,600,1700,0.81,0.211,0.14,6918,0.67
1,7811,0.73,12911,1404,7380,4877,612,2091,0.72,0.198,0.13,8453,0.59
2,4540,0.60,13494,1254,7706,4368,600,1926,0.90,0.212,0.08,7268,0.61
3,689,0.30,1125,422,7168,3689,600,1900,0.67,0.181,0.09,4417,0.46
4,967,0.48,2806,538,4528,1880,500,1200,0.49,0.171,0.16,5113,0.58

In [74]:
# 수치형 데이터 정규화
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train_std = pd.DataFrame(scaler.fit_transform(X_train))
X_test_std = pd.DataFrame(scaler.fit_transform(X_test))

In [75]:
# 데이터 분할 (train으로 train과 val)
from sklearn.model_selection import train_test_split

train_x, val_x, train_y, val_y = train_test_split(X_train, y_train, test_size = 0.2, random_state = 2025)

print(train_x.shape)
print(train_y.shape)
print(val_x.shape)
print(val_y.shape)

(496, 13)
(496, 1)
(125, 13)
(125, 1)

In [76]:
# 모델 생성 및 학습
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(train_x, train_y)

C:\Users\user\AppData\Local\Temp\ipykernel_12268\3954824000.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(train_x, train_y)

RandomForestClassifier()

In [77]:
# 모델 평가 및 선정
from sklearn.metrics import roc_curve, auc
y_score = model.predict_proba(val_x)[:,1]
fpr, tpr, thresholds = roc_curve(val_y, y_score, pos_label='Yes')
AUC = auc(fpr, tpr)

print(AUC)

0.9757371007371008

In [81]:
# 모델로 최종 예측 (test 사용)
y_pred = pd.DataFrame(model.predict(X_test_std))

In [83]:
# id와 예측 결과 합쳐서 csv화
result = pd.concat([result_id, y_pred], axis=1).rename(columns={0: 'prob_Private'})
result.to_csv(r'C:\BigData\test\연습문제\작업형2\result\result_2.csv')